body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:78px;
  top:84px;
  width:770px;
  height:95px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:95px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  white-space:nowrap;
}
