body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:270px;
  width:1046px;
  height:106px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:348px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:464px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:580px;
  top:0px;
  width:116px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:696px;
  top:0px;
  width:116px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:812px;
  top:0px;
  width:116px;
  height:30px;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:928px;
  top:0px;
  width:113px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:116px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:232px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:348px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:464px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:580px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:696px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:812px;
  top:30px;
  width:116px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:928px;
  top:30px;
  width:113px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:116px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:232px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:348px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:464px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:580px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:696px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:812px;
  top:66px;
  width:116px;
  height:35px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:928px;
  top:66px;
  width:113px;
  height:35px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:35px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:150px;
  top:64px;
  width:66px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:226px;
  top:60px;
  width:154px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u58 {
  position:absolute;
  left:390px;
  top:64px;
  width:14px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:414px;
  top:60px;
  width:154px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:614px;
  top:60px;
  width:66px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:690px;
  top:56px;
  width:154px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:930px;
  top:114px;
  width:100px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:150px;
  top:397px;
  width:417px;
  height:16px;
  color:#FF0000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:698px;
  top:240px;
  width:32px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:150px;
  top:244px;
  width:230px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:930px;
  top:152px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:150px;
  top:114px;
  width:66px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1045px;
  top:115px;
  width:100px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:1045px;
  top:152px;
  width:240px;
  height:16px;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:400px;
  top:244px;
  width:274px;
  height:16px;
  color:#FF0000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:223px;
  top:152px;
  width:365px;
  height:48px;
  color:#FF0000;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:48px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:150px;
  top:454px;
  width:314px;
  height:16px;
  color:#FF0000;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:854px;
  top:60px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:223px;
  top:107px;
  width:108px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:364px;
  top:107px;
  width:108px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:502px;
  top:107px;
  width:108px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
