body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1536px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:147px;
  top:70px;
  width:875px;
  height:286px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:286px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:47px;
  top:2231px;
  width:1216px;
  height:133px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1000px;
  top:0px;
  width:105px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1105px;
  top:0px;
  width:106px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u30 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u32 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u34 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u36 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u38 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u40 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u42 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u44 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:68px;
}
#u46 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1000px;
  top:30px;
  width:105px;
  height:68px;
  color:#0000FF;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:68px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1105px;
  top:30px;
  width:106px;
  height:68px;
  color:#FF0000;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:68px;
}
#u50 {
  position:absolute;
  left:2px;
  top:26px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:100px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:200px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:300px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:400px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:500px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:600px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:700px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:800px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:900px;
  top:98px;
  width:100px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1000px;
  top:98px;
  width:105px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1105px;
  top:98px;
  width:106px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:59px;
  top:2195px;
  width:144px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:154px;
  top:366px;
  width:1382px;
  height:1765px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:1765px;
}
#u78 {
  position:absolute;
  left:2px;
  top:874px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
